<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.project.dao.SellerMapper">
  <resultMap id="BaseResultMap" type="com.lx.project.po.Seller">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="changePwdTime" jdbcType="TIMESTAMP" property="changepwdtime" />
    <result column="lastLoginTime" jdbcType="TIMESTAMP" property="lastlogintime" />
    <result column="realName" jdbcType="VARCHAR" property="realname" />
    <result column="phoneNum" jdbcType="BIGINT" property="phonenum" />
    <result column="status" jdbcType="BIT" property="status" />
    <result column="isTeam" jdbcType="BIT" property="isteam" />
    <result column="idCard" jdbcType="BIGINT" property="idcard" />
    <result column="bandCard" jdbcType="BIGINT" property="bandcard" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, pwd, createTime, changePwdTime, lastLoginTime, realName, phoneNum, status, 
    isTeam, idCard, bandCard
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from seller
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from seller
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lx.project.po.Seller">
    insert into seller (id, name, pwd, 
      createTime, changePwdTime, lastLoginTime, 
      realName, phoneNum, status, 
      isTeam, idCard, bandCard)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{pwd,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{changepwdtime,jdbcType=TIMESTAMP}, #{lastlogintime,jdbcType=TIMESTAMP}, 
      #{realname,jdbcType=VARCHAR}, #{phonenum,jdbcType=BIGINT}, #{status,jdbcType=BIT}, 
      #{isteam,jdbcType=BIT}, #{idcard,jdbcType=BIGINT}, #{bandcard,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.lx.project.po.Seller">
    insert into seller
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="pwd != null">
        pwd,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="changepwdtime != null">
        changePwdTime,
      </if>
      <if test="lastlogintime != null">
        lastLoginTime,
      </if>
      <if test="realname != null">
        realName,
      </if>
      <if test="phonenum != null">
        phoneNum,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isteam != null">
        isTeam,
      </if>
      <if test="idcard != null">
        idCard,
      </if>
      <if test="bandcard != null">
        bandCard,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="changepwdtime != null">
        #{changepwdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogintime != null">
        #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null">
        #{phonenum,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=BIT},
      </if>
      <if test="isteam != null">
        #{isteam,jdbcType=BIT},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=BIGINT},
      </if>
      <if test="bandcard != null">
        #{bandcard,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lx.project.po.Seller">
    update seller
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pwd != null">
        pwd = #{pwd,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="changepwdtime != null">
        changePwdTime = #{changepwdtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastlogintime != null">
        lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      </if>
      <if test="realname != null">
        realName = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="phonenum != null">
        phoneNum = #{phonenum,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIT},
      </if>
      <if test="isteam != null">
        isTeam = #{isteam,jdbcType=BIT},
      </if>
      <if test="idcard != null">
        idCard = #{idcard,jdbcType=BIGINT},
      </if>
      <if test="bandcard != null">
        bandCard = #{bandcard,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lx.project.po.Seller">
    update seller
    set name = #{name,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      changePwdTime = #{changepwdtime,jdbcType=TIMESTAMP},
      lastLoginTime = #{lastlogintime,jdbcType=TIMESTAMP},
      realName = #{realname,jdbcType=VARCHAR},
      phoneNum = #{phonenum,jdbcType=BIGINT},
      status = #{status,jdbcType=BIT},
      isTeam = #{isteam,jdbcType=BIT},
      idCard = #{idcard,jdbcType=BIGINT},
      bandCard = #{bandcard,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>